body{
    background-color: white; 
}
.header{
    width: 102%;
    height: 20%;
    background-color:black;

    .headerTitel{
        width:60%;
        text-align: center;
        h1{
            text-transform: uppercase;
            text-align: center;
            margin-top: 1%;
            color: white;
            font-family:  'Arial Narrow'
        }
        img {
            width: 80px;
            height: 80px;
            margin-top: 5%;
            -webkit-animation:r1 2s linear infinite;
            animation:r1 4s linear infinite;
            position: relative;
            
        }
        @keyframes r1 {
            0%{transform: rotate(360deg)}
            10%{transform: rotate(0deg)}
        }
        img,h1 {
            display: inline-block;
          }
        
    }
    
    .headerSignIN{
        text-align: left;
        width:40%;
        input {
            width: 35%;
            padding: 8px 8px;
            margin: 8px 5px;
            box-sizing: border-box;
            font-size: 14px;
         
        }    
       
        input :focus {
    
            background-color: lightblue;
        }

        input[type=submit] {
            width: 20%;
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 10px;
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #059111; 
            color: white; 
            border: 1px solid #059111;
        }
       

    }
    .headerTitel,.headerSignIN {
        display: inline-block;
      }
}


.headerUser{
    text-align: right;
}
.headerSearch{
    text-align: center;
}
.mainBack{
    background-color:white; 
    padding: 2% 2% 2% 2%;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 100px;
    margin-left: 55%;
    
    .firstName{
        width: 55%;
        margin-right: 2%;
    }
    .lastName{
        width: 43%;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 24px;
     
    }

   
    input :focus {

        background-color: lightblue;
    }
    input[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        width: 100%;
        padding: 12px 20px;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #059111; 
        color: white; 
        border: 1px solid #059111;
    }

    h1{
        text-transform: uppercase;
        text-align: center;
        color: white;
    }
}